<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.belajaronlineapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo_smarusquare"
            android:label="Smart U!"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".main.kimia.Lesson1Kimia.VideoKim1">
        </activity>
        <activity android:name=".main.kimia.Lesson1Kimia.LatihanSoalKim1">
        </activity>
        <activity android:name=".main.kimia.KimiaActivity">
        </activity>
        <activity android:name=".main.inggris.Lesson1Inggris.VideoInggris1">
        </activity>
        <activity android:name=".main.inggris.Lesson1Inggris.LatihanSoalInggris1">
        </activity>
        <activity android:name=".main.inggris.InggrisActivity">
        </activity>
        <activity android:name=".main.indo.Lesson1Indo.VideoIndo1">
        </activity>
        <activity android:name=".main.indo.Lesson1Indo.LatihanSoalIndo1">
        </activity>
        <activity android:name=".main.indo.IndoActivity">
        </activity>
        <activity android:name=".main.fisika.Lesson1Fis.LatihanSoalFis1">
        </activity>
        <activity android:name=".main.fisika.Lesson1Fis.VideoFis1">
        </activity>
        <activity android:name=".main.fisika.FisikaActivity">
        </activity>
        <activity android:name=".main.biologi.Lesson1Bio.VideoBio1">
        </activity>
        <activity android:name=".main.biologi.Lesson1Bio.LatihanSoalBio1">
        </activity>
        <activity android:name=".main.biologi.BiologyActivity">
        </activity>
        <activity android:name=".main.hubungi_kami">
        </activity>
        <activity
                android:name=".main.messages.ChatLogActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.messages.LatestMessageActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".main.messages.NewMessageActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".signinup.NotVerifiedActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".signinup.ForgotPasswordActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.matematika.Lesson1Mat.VideoMat1"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.matematika.Lesson1Mat.LatihanSoalMat1"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.ComingSoonActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.matematika.MatematikaActivity"
                android:label="@string/title_activity_matematika"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".signinup.SignUpActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".signinup.SignInActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.TentangKami"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".main.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="Belajar online"/>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/logo_belon"/>
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>